<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SignInOrSignUpDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4EA94A31EC94C87007828F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4EA94B71EC94C87007828F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4EA94C21EC94C87007828F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
